In [13]:
age = 25
age

25

In [14]:
print(age)

25

In [15]:
cor = 20

In [16]:
print(cor)

20

In [17]:
cor = 'cornelio'
oks = 'oksana'

In [18]:
print(cor)

cornelio

In [19]:
print(oks)

oksana

In [20]:
age, name, gender = 20, 'cornelio', 'male'

In [21]:
print(age,name,gender)

20 cornelio male

In [22]:
age

20

In [23]:
age +3

23

In [24]:
age = age + 4
print(age)

24

In [25]:
age +3

27

In [26]:
age =+
age

SyntaxError: invalid syntax (214979096.py, line 1)

In [27]:
age =+1
age

1

In [28]:
age

1

In [29]:
age -+ 4

-3

In [30]:
x = 7
y = 3
z = x/y

print(z)

2.3333333333333335

In [1]:
print(type(x))

NameError: name 'x' is not defined

In [2]:
x = 10
print(type(x))

<class 'int'>

In [3]:
y = 2.5
print(type(y))

<class 'float'>

In [4]:
some_float = float(3)
print(some_float)

3.0

In [5]:
name = 'Cornelio'
print(name)
print(type(name))

Cornelio
<class 'str'>

In [6]:
dialogue = 'Cornelio, ese soy yo xdxdxd'
print(dialogue)

Cornelio, ese soy yo xdxdxd

In [1]:
print('Hello world!!')

Hello world!!

In [2]:
this_crash_course_is_awesome = True
this_crash_course_is_not_awesome = False

In [8]:
comparison_operation = 1 < 2 not 2 > 3
print(comparison_operation)

SyntaxError: invalid syntax (3776043782.py, line 1)

In [15]:
hola = 'Hola'
print(hola.count('a'))

1

In [16]:
names = ['Cornelio', 'Oksana', 'Leonardo']

In [22]:
print(names[1])

Oksana

In [23]:
random_variable = [True, False, 'Cornelio', 54]

In [27]:
print(random_variable[3])

54

In [28]:
length = len(random_variable)

In [29]:
print(length)

4

In [34]:
ordered_numbers = [0,1,2,3,4,'Hola',6,7,8,9,10]
print(ordered_numbers[4:8])

[4, 'Hola', 6, 7]

In [35]:
range(0,10)

range(0, 10)

In [36]:
print(range(0,10))

range(0, 10)

In [40]:
print(list(range(0,101)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [41]:
title = 'game of thrones'
print(title[2])

m

In [46]:
months = ['January', 'February', 'March']
print('February' not in months)

False

In [47]:
grocery = ['bananas', 'apples', 'brocoli']
grocery[2] = 'tomato'
print(grocery)

['bananas', 'apples', 'tomato']

In [48]:
misspelled = 'cucomber'
misspelled[3] = 'u'
print(misspelled)

TypeError: 'str' object does not support item assignment

In [49]:
name = 'Cornelio'
name2 = name
name = 'John'
print(name)
print(name2)

John
Cornelio

In [50]:
books = ['Hola', 'Soy', 'Cornelio']
books2 = books
books[0] = 'Adios'
print(books[0])

Adios

In [58]:
numbers = [-4,51,6,7,8]
print(len(numbers))

5

In [60]:
sorted(numbers)

[-4, 6, 7, 8, 51]

In [61]:
'-'.join(['january', 'february', 'march'])

'january-february-march'

In [63]:
print('This person is {}, {}, and {}'.format('tall', 'slim', 'blonde'))

This person is tall, slim, and blonde

In [64]:
months = ['january', 'february', 'march']
months.append('april')
print(months)

['january', 'february', 'march', 'april']

In [67]:
traits = 'tall', 'slim', 'blond'
height = traits[0]
build = traits[1]
print(height, build)

tall slim

In [1]:
duplicate = [1,1,2,2,3,3]
unique = set(duplicate)
print(unique)

{1, 2, 3}

In [2]:
unique.add(4)
print(unique)

{1, 2, 3, 4}

In [3]:
print(2 in unique)

True

In [5]:
inventory = {'bananas':1.29, 'papayas':2.99}
print(inventory['bananas'])

1.29

In [6]:
inventory['bananas'] = 2.99
print(inventory['bananas'])

2.99

In [8]:
price = inventory.get('straw')
print(price)

None

In [10]:
print('celery' in inventory)

False

In [14]:
grocery = {'bananas': {'price':2.99 , 'country of origin' : 'Guatemala'},
            'apples':{'price':2.99 , 'country of origin' : 'United Kingdom'}, 
            'papayas':{'price':2.99 , 'country of origin' : 'Costa Rica'}}
print(grocery['apples']['country of origin'])

United Kingdom

In [1]:
months = ['January', 'February', 'March']

for month in months:
    print(month)

January
February
March

In [2]:
for number in range(0,100):
    print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [4]:
name = ['hillary', 'diana', 'brian']

for index in range(len(name)):
    print(index)

0
1
2

In [5]:
movies = {'Titanic': 1997,
          'Finding Nemo' : 2003}

for (key, value) in movies.items():
    print(key,value)

Titanic 1997
Finding Nemo 2003

In [9]:
num = 0

while num != 100:
    print(f'{num}:hola')
    num += 1
    if num == 21:
        break

0:hola
1:hola
2:hola
3:hola
4:hola
5:hola
6:hola
7:hola
8:hola
9:hola
10:hola
11:hola
12:hola
13:hola
14:hola
15:hola
16:hola
17:hola
18:hola
19:hola
20:hola

In [10]:
numbers = list(range(0,10))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
def rectangule_area(lenght, widht):
    area = lenght * widht
    return area

In [15]:
print(rectangule_area(2,3))

6

In [16]:
print(rectangule_area(100,398))

39800