In [13]:
age = 25
age

25

In [14]:
print(age)

25

In [15]:
cor = 20

In [16]:
print(cor)

20

In [17]:
cor = 'cornelio'
oks = 'oksana'

In [18]:
print(cor)

cornelio

In [19]:
print(oks)

oksana

In [20]:
age, name, gender = 20, 'cornelio', 'male'

In [21]:
print(age,name,gender)

20 cornelio male

In [22]:
age

20

In [23]:
age +3

23

In [24]:
age = age + 4
print(age)

24

In [25]:
age +3

27

In [26]:
age =+
age

SyntaxError: invalid syntax (214979096.py, line 1)

In [27]:
age =+1
age

1

In [28]:
age

1

In [29]:
age -+ 4

-3

In [30]:
x = 7
y = 3
z = x/y

print(z)

2.3333333333333335

In [1]:
print(type(x))

NameError: name 'x' is not defined

In [2]:
x = 10
print(type(x))

<class 'int'>

In [3]:
y = 2.5
print(type(y))

<class 'float'>

In [4]:
some_float = float(3)
print(some_float)

3.0

In [5]:
name = 'Cornelio'
print(name)
print(type(name))

Cornelio
<class 'str'>

In [6]:
dialogue = 'Cornelio, ese soy yo xdxdxd'
print(dialogue)

Cornelio, ese soy yo xdxdxd

In [1]:
print('Hello world!!')

Hello world!!

In [2]:
this_crash_course_is_awesome = True
this_crash_course_is_not_awesome = False

In [8]:
comparison_operation = 1 < 2 not 2 > 3
print(comparison_operation)

SyntaxError: invalid syntax (3776043782.py, line 1)

In [15]:
hola = 'Hola'
print(hola.count('a'))

1

In [16]:
names = ['Cornelio', 'Oksana', 'Leonardo']

In [22]:
print(names[1])

Oksana

In [23]:
random_variable = [True, False, 'Cornelio', 54]

In [27]:
print(random_variable[3])

54

In [28]:
length = len(random_variable)

In [29]:
print(length)

4

In [34]:
ordered_numbers = [0,1,2,3,4,'Hola',6,7,8,9,10]
print(ordered_numbers[4:8])

[4, 'Hola', 6, 7]

In [35]:
range(0,10)

range(0, 10)

In [36]:
print(range(0,10))

range(0, 10)

In [40]:
print(list(range(0,101)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [41]:
title = 'game of thrones'
print(title[2])

m

In [46]:
months = ['January', 'February', 'March']
print('February' not in months)

False

In [47]:
grocery = ['bananas', 'apples', 'brocoli']
grocery[2] = 'tomato'
print(grocery)

['bananas', 'apples', 'tomato']

In [48]:
misspelled = 'cucomber'
misspelled[3] = 'u'
print(misspelled)

TypeError: 'str' object does not support item assignment